body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // cursor: none;
}

body {
  @include textFont(14px, white, 400);

  background-color: var(--background-color);
  background-image: url(../images/pattern.jpeg);
  background-repeat: repeat;

  * {
    // cursor: none;
  }

  &.el-popup-parent--hidden {
    overflow: hidden;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    max-width: 970px;
  }

  @media only screen and (max-width: 992px) {
    max-width: 720px;
  }

  @media only screen and (max-width: 767px) {
    max-width: 100%;
    padding: 0 15px;
  }
}
