@import "colors";

/* Fonts */
@mixin titleFont($size, $color, $weight) {
  font-family: "Poiret One", sans-serif;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin textFont($size, $color, $weight) {
  font-family: "Roboto Mono", sans-serif;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
