.gallery {
  padding: 200px 0;
  background-color: black;
  position: relative;
  text-align: center;

  @media only screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media only screen and (max-width: 767px) {
    padding: 80px 0 60px;
  }

  .cta_btn {
    margin-bottom: 50px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 142px;
    background-image: url(../images/border_1.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: absolute;
    transform: rotate(180deg);
    top: 0;
    left: 0;
    z-index: 3;
  }

  &::after {
    content: "";
    width: 100%;
    height: 142px;
    background-image: url(../images/border_1.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
  }

  &:last-child {
    padding-top: 0;

    &::before {
      display: none;
    }

    .container {
      &::before {
        transform: skewX(6deg);
      }

      &::after {
        transform: skewX(-6deg);
      }
    }
  }

  &:not(:last-child) {
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  .container {
    max-width: 90%;
    position: relative;

    @media only screen and (max-width: 767px) {
      max-width: 100%;
      padding: 0 15px;
    }

    &::before {
      content: "";
      width: 250px;
      height: 100%;
      background-color: black;
      transform: skewX(-6deg);
      position: absolute;
      top: 0;
      left: -180px;
      display: block;
      z-index: 2;

      @media only screen and (max-width: 1200px) {
        width: 200px;
        left: -150px;
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    &::after {
      content: "";
      width: 250px;
      height: 100%;
      background-color: black;
      transform: skewX(-6deg);
      position: absolute;
      bottom: 0;
      right: -180px;
      display: block;
      z-index: 2;

      @media only screen and (max-width: 1200px) {
        width: 200px;
        right: -150px;
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex: 0 0 calc(40% - 10px);
    max-width: calc(40% - 10px);
    overflow: hidden;
    cursor: pointer;

    @media only screen and (max-width: 767px) {
      display: block;
      margin-bottom: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }

    &:hover {
      .image {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }

    .image {
      width: 100%;
      height: 600px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
      transition: 0.4s;
      transition-property: transform, opacity;

      @media only screen and (max-width: 1200px) {
        height: 400px;
      }

      @media only screen and (max-width: 992px) {
        height: 300px;
      }

      @media only screen and (max-width: 767px) {
        height: 270px;
        margin-bottom: 20px;
      }
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8) {
      flex: 0 0 calc(60% - 10px);
      max-width: calc(60% - 10px);

      @media only screen and (max-width: 767px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
