.social {
  padding: 90px 0;
  position: relative;
  z-index: 5;

  @media only screen and (max-width: 1200px) {
    padding: 50px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 40px;
  }

  h2 {
    @include titleFont(50px, black, 400);

    display: block;
    text-align: center;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 1200px) {
      transform: scale(0.8);
    }

    &::after {
      content: "";
      width: 250px;
      height: 250px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../images/instagram-logo.svg);
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotateY(-22deg) rotateX(19deg) translateZ(22.5rem);
      opacity: 0.05;
      z-index: -1;
      transition: 0.4s;
      transition-property: opacity, transform;
    }

    &:hover {
      &::after {
        transform: scale(1.2) rotateY(-22deg) rotateX(19deg) translateZ(18.5rem);
        opacity: 0.2;
      }
    }
  }

  &__team {
    margin-bottom: 150px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1200px) {
      margin-bottom: 100px;
    }

    h1 {
      @include titleFont(50px, black, 400);

      display: block;
      text-align: center;
      margin-bottom: 40px;

      @media only screen and (max-width: 767px) {
        font-size: 40px;
        margin-bottom: 30px;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;
      width: 100%;

      .item {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 5px;

        @media only screen and (max-width: 992px) {
          flex: 0 0 50%;
          max-width: 50%;
          margin-bottom: 15px;
        }

        @media only screen and (max-width: 767px) {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__photo {
          position: relative;
          z-index: 1;
          height: 380px;
          margin-bottom: 20px;

          @media only screen and (max-width: 992px) {
            height: 300px;
          }

          @media only screen and (max-width: 767px) {
            height: 340px;
          }

          .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            display: block;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
          }
        }

        &__meta {
          h4 {
            color: black;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 25px;

            @media only screen and (max-width: 1200px) {
              font-size: 22px;
            }

            @media only screen and (max-width: 992px) {
              font-size: 18px;
            }

            @media only screen and (max-width: 767px) {
              font-size: 20px;
            }
          }

          .cta_btn {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
